body {
    background-color: #000000;
}

header {
    background-color: #053847;
}

header h1 {
    color: #fffee8;
    font-weight: 400;
}

header .button {
    background-color: #ffde38;
}

li.section-header {
    color: #053847;
}

li a {
    background-color: #053847;
}

li h3 {
    color: #fffee8;
    font-weight: 400;
}
li p {
    color: #fffee8;
    font-weight: 300;
}

li .button {
    background-color: #ffde38;
}

.played a {
    background-color: #222222;
}

.played h3, .played p {
    color: #666666;
}