:root {
  --body-bg-color: #000000;
  --text-color: #f4e8d5;
  --header-text-color: #f4e8d5;

  --header-bg-color: #302c24;
  --item-bg-color: #302c24;

  --header-button-bg-color: #000000;
  --item-button-bg-color: #000000;

  --section-title-color: #ca6081;

  --played-item-bg-color: #1c1a16;
  --played-item-color: #5c564b;

  --header-weight: 400;
  --copy-weight: 300;

  --game-logo-opacity: 1;
  --icon-color: #ca6081;
}
