:root {
  --body-bg-color: #f4e8d5;
  --text-color: #1c1a16;
  --header-text-color: #1c1a16;

  --header-bg-color: #ffffff;
  --item-bg-color: #ffffff;

  --header-button-bg-color: #f4e8d5;
  --item-button-bg-color: #f4e8d5;

  --section-title-color: #ca6081;

  --played-item-bg-color: #fcf6ed;
  --played-item-color: #baa88a;

  --header-weight: 800;
  --copy-weight: 400;

  --game-logo-opacity: 1;
  --icon-color: #ca6081;
}
