body {
    background-color: #f4e8d5;
}

header {
    background-color: #FFFFFF;
}

header h1 {
    color: #1c1a16;
}

header .button {
    background-color: #f4e8d5;
}

li.section-header {
    color: #ca6081;
}

li a {
    background-color: #FFFFFF;
}

li .button {
    background-color: #f4e8d5;
}

.played a {
    background-color: #fcf6ed !important;
}

.played h3, .played p {
    color: #baa88a;
}