
body {
    background-color: #f4e8d5;
}

header {
    background-color: #FFFFFF;
}

header .button {
    background-color: #f4e8d5;
}

li.section-header {
    color: #ca6081;
}

li a {
    background-color: #FFFFFF;
}

li .button {
    background-color: #f4e8d5;
}