:root {
  --body-bg-color: #add5e0;
  --text-color: #000000;
  --header-text-color: #000000;

  --header-bg-color: #ffffff;
  --item-bg-color: #ffffff;

  --header-button-bg-color: #ffde38;
  --item-button-bg-color: #ffde38;

  --section-title-color: #116780;

  --played-item-bg-color: #cee4eb;
  --played-item-color: #000000;

  --header-weight: 800;
  --copy-weight: 400;

  --game-logo-opacity: 1;
  --icon-color: #000000;
}
