body {
    background-color: #add5e0;
}

header {
    background-color: #FFFFFF;
}

header h1 {
    color: #000000;
}

header .button {
    background-color: #ffde38;
}

li.section-header {
    color: #116780;
}

li a {
    background-color: #fffee8;
}

li h3, li p {
    color: #000000
}

li .button {
    background-color: #ffde38;
}

.played a {
    background-color: #cee4eb;
}

.played h3, .played p {
    color: #000000;
}